In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/DiogoRibeiro7/c6590d0cf119e87c39e31c21a9c0f3a8/raw/4a8e3da267a0c1f0d650901d8295a5153bde8b21/PlayTennis.csv')
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

**Our aim is to make a Naive Bayes model to accurately predict whether tennis can be played or not depending on the input weather conditions**

Calculating conditional Probabilites for the Outlook

In [3]:
outlook_table=pd.crosstab(df['Outlook'],df['Play Tennis'],normalize='columns') 
outlook_table
###We Use normalize='columns' to find conditional probabitily

Play Tennis   No       Yes
Outlook
Overcast     0.0  0.444444
Rain         0.4  0.333333
Sunny        0.6  0.222222

In [4]:
temperature_table=pd.crosstab(df['Temperature'],df['Play Tennis'],normalize='columns')
temperature_table

Play Tennis   No       Yes
Temperature
Cool         0.2  0.333333
Hot          0.4  0.222222
Mild         0.4  0.444444

In [5]:
humidity_table=pd.crosstab(df['Humidity'],df['Play Tennis'],normalize='columns')
humidity_table

Play Tennis   No       Yes
Humidity
High         0.8  0.333333
Normal       0.2  0.666667

In [6]:
wind_table=pd.crosstab(df['Wind'],df['Play Tennis'],normalize='columns')
wind_table

Play Tennis   No       Yes
Wind
Strong       0.6  0.333333
Weak         0.4  0.666667

In [7]:
yes_probability=df['Play Tennis'].value_counts()['Yes']/14
yes_probability

0.6428571428571429

In [8]:
no_probability=df['Play Tennis'].value_counts()['No']/14
no_probability

0.35714285714285715

In [13]:
conditions=[]
for i in range(4):
    condition=input("Enter condition: ")
    conditions.append(condition)

Enter condition:  Rain
Enter condition:  Hot
Enter condition:  Normal
Enter condition:  Weak

In [14]:
expected_no=(outlook_table['No'][conditions[0]]*temperature_table['No'][conditions[1]]*humidity_table['No'][conditions[2]]*wind_table['No'][conditions[3]])*no_probability
expected_yes=(outlook_table['Yes'][conditions[0]]*temperature_table['Yes'][conditions[1]]*humidity_table['Yes'][conditions[2]]*wind_table['Yes'][conditions[3]])*yes_probability

In [15]:
if(expected_no>expected_yes):
    print("Playing Tennis NOT possible")
else:
    print("You can Play tennis")

You can Play tennis